DB_HOST=localhost
DB_PORT=puerto
DB_USER=root
DB_PASSWORD=password            
DB_NAME=nombre
JWT_SECRET=jwt
REFRESH_TOKEN_SECRET=jwt
SMTP_HOST=smtp.example.com
SMTP_PORT=puerto
SMTP_USER=correo
SMTP_PASS=passwor de aplicacion
SMTP_FROM=Sistema Agricola <correo>
